@font-face {
  font-family: "ChenYuluoyan 2.0";
  src: url("./assets/fonts/ChenYuluoyan-2.0-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montaga";
  src: url("./assets/fonts/Montaga-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Montaga, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
